DB_HOST=10.10.2.150
DB_PORT=5432
DB_NAME=app
DB_USER=app
DB_PASS=change-me
DB_SSL_MODE=require
GRAFANA_DASHBOARD_URL=http://localhost:3000/d-solo/webhardmon-empresa/webhardmon-empresa
GRAFANA_EMPRESA_DASHBOARD_URL=http://localhost:3000/d-solo/webhardmon-empresa/webhardmon-empresa
GRAFANA_ORDENADORES_DASHBOARD_URL=http://localhost:3000/d-solo/webhardmon-ordenadores/webhardmon-ordenadores
